<div class="ejs-layout">
	<div class="ejs-header">
		Hunter
		<div class="right">
			<%= userName %>
		</div>
	</div>
	<div class="ejs-inner">
		<div class="ejs-nav">
			<nav class="nav-item">
				<a href="/">概览</a>
			</nav>
			<nav class="nav-item">
				<a href="/errorMonitor">实时监控</a>
			</nav>
			<nav class="nav-item">
				<a href="/project">项目管理</a>
			</nav>
		    <nav class="nav-item">
		        <a href="/undeal">未处理</a>
		    </nav>
		</div>
		<div id="app" class="content">
			
		</div>
	</div>
</div>

