<div class="ejs-layout">
	<div class="ejs-header">
		Hunter
		<div class="right">
			
		</div>
	</div>
	<div class="ejs-inner">
		<div class="ejs-nav">
			
		</div>
		<div id="app" class="content">
			
		</div>
	</div>
</div>

