<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/dist/css/project.css">
</head>
<body>
    <% include ./layout %>
    <script src="/output/dist/js/vendor.js"></script>
    <script src="/output/dist/js/project.js"></script>
</body>
</html>
