html, body {
	height: 100%;
}
.ejs-layout {
	height: 100%;
	.ejs-header {
		line-height: 60px;
		background: #fafafa;
		font-size: 20px;
		padding: 0 30px;
		border-bottom: 1px solid #eee;
		color: #666;
		box-sizing: border-box;
		>.right {
			
		}
	}
	.ejs-inner {
		height: 100%;
		>.ejs-nav {
			height: 100%;
			width: 200px;
			float: left;
			background: #000000;
		}
		>.content {
			margin-left: 200px;
		}
	}
}