.type-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  background: #ffffff;
  padding: 20px 20px 0 20px;
  text-align: right;
  z-index: 2;
  .date-picker {
    margin-left: 15px;
    span {
      text-align: center;
    }
  }
}